PORT = <Port to host server>
ATLAS_URI_CERT = <Atlas URI with User and Certificate>
ATLAS_URI_USER = <ATLAS URI with user and password>
ATLAS_CERT_PATH = <Local path where Atlas Cert .pem is stored>

